{% extends "base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}{{ parent() }} - Inscription {% endblock %}

{% block body %}

    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">Inscription</div>
            <div class="panel-body">

                {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

                {{ form_errors(form) }}

                <div class="form-group">

                    <label for="fos_user_registration_form_lastname" class="col-md-4 control-label">Nom</label>

                    <div class="col-md-6">
                        {{ form_widget(form.lastname) }}
                    </div>

                    <div class="col-md-12">{{ form_errors(form.lastname) }}</div>
                </div>

                <div class="form-group">

                    <label for="fos_user_registration_form_firstname" class="col-md-4 control-label">Prénom</label>

                    <div class="col-md-6">
                        {{ form_widget(form.firstname) }}
                    </div>

                    <div class="col-md-12">{{ form_errors(form.firstname) }}</div>
                </div>

                <div class="form-group">
                    <label for="fos_user_registration_form_email" class="col-md-4 control-label">Adresse email</label>

                    <div class="col-md-6">
                        {{ form_widget(form.email) }}
                    </div>

                    <div class="col-md-12">{{ form_errors(form.email) }}</div>
                </div>

                <div class="form-group">
                    <label for="fos_user_registration_form_plainPassword_first" class="col-md-4 control-label">Mot de passe</label>

                    <div class="col-md-6">
                        {{ form_widget(form.plainPassword.first) }}
                    </div>

                    <div class="col-md-12">{{ form_errors(form.plainPassword.first) }}</div>
                </div>

                <div class="form-group">
                    <label for="fos_user_registration_form_plainPassword_second" class="col-md-4 control-label">Répéter le mot de passe</label>

                    <div class="col-md-6">
                        {{ form_widget(form.plainPassword.second) }}
                    </div>

                    <div class="col-md-12">{{ form_errors(form.plainPassword.second) }}</div>
                </div>

                <div class="form-group">
                    <div class="col-md-8 col-md-offset-4">
                        <input type="submit" value="{{ 'registration.submit'|trans }}" />
                    </div>
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}
